
<!DOCTYPE html>
<html>
<head>
    <title>hanrolld web</title>
</head>
<body>
    <header id="main-header">
        <h1>hanrolld web ★</h1>
        <div>
            <p>hello: {{ username }}</p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- <div class="welcomeimg">
        <img src="../assets/img/hanrolldwebheader.png" alt="">
    </div> -->
    <section class="container">
        <article>
            <h2>about me</h2>
            <img src="../assets/img/hanrolld icon.jpeg" width="400px">
            <p>visual representation of hanrolld</p>
            <p>personal image is extremely important for <br> a world full of individuality</p>
        </article>
        <article>
            <h2>hanrolld logo</h2>
            <img src="../assets/img/hanrolld logo estrellitass.png" width="400px">
            <p>sparkly hanrolld logo</p>
            <p>hanrolld auto designed logo by hanrolld</p>
        </article>
        <article>
            <h2>hanrolld pokemon</h2>
            <img src="../assets/img/cubchoo2.jpg" width="400px">
            <p>hanrolld favorite pokemon</p>
            <p>he is just so cute, he is just like meeee:3</p>
        </article>
        <article>
            <h2>hanrolld pokemon</h2>
            <img src="../assets/img/cubchoo2.jpg" width="400px">
            <p>hanrolld favorite pokemon</p>
            <p>he is just so cute, he is just like meeee:3</p>
        </article>
    </section>
    <footer>
        <section>
            <a href="#title">arriba</a>
            <a href="mailto:harolddpatino@gmail.com">contact me :3</a>
        </section>
        <p>copyright 2024 hanrolld copyright</p>
        <button id="logoutbutton" type="button" (click)="logout()">log out</button>
    </footer>
</body>
</html>